#header {
    color: green;
}

.container{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   
}

.container > div {
    width:200px;
    height:160px;
}
.columncontainer{
    display: flex;
    flex-direction: column;
    align-content: center;
}
#gamediv{
    border: 3px solid rgba(26, 121, 7, 0.938);
    margin: 2px;
}
#sport_bt{
    margin: auto;
    text-align: center;

}