#header {
    color: green;
}

.gameform{
    margin: 3px;
}
.body {
    padding: 40px;
    background-color: rgb(20, 20, 160);
    color:navajowhite;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
.textcolor{
    color:navajowhite
}
.gameholder{
    display: flex;
    flex-direction: column;
}
.betslipheader{
    display: flex;
    align-items: flex-start;
    background-color: dimgrey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.betslipfooter{
    display: flex;
    align-items: flex-start;
    background-color: dimgrey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding : 10px;
}
.textheader{
    display:flex;
    flex-direction: column;
}
.my_container > div {
    width:200px;
    height:160px;
}
.columncontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap
}
.logout{
    position: absolute;
    right: 0px;
    padding: 8px;
    font-size: large;
    color: yellow
}
.gamediv{
    border: 3px solid rgba(26, 121, 7, 0.938);
    margin: 2px;
}
.sport_bt{
    width:150px;
    height:115px;
    margin: auto;
    text-align: center;

}
.textbets {
    border: 3px solid darkorange;
    margin: 3px;
    padding: 8px;
}