<a href="{% url 'users:logout_user' %}">logout</a>
<h2>Wager your bet {{user.username}} you have {{user.userprofile.credits}} credits to bet with</h2>

<div>
   <h3>{{bet.name}}</h3>
   <b>Description:</b>
   <div>{{bet.description}}</div>
</div>
<form action="{% url 'bets:wager_bet' %}" method="post">
    {% csrf_token %}
    <input type="number" name="amount" id="amount" placeholder="wager amount"><br>
    <input type="radio" name="for_against" value="True">For<br>
    <input type="radio" name="for_against" value="False">Against<br>
    <input type="hidden" name="bet" value={{bet.id}}>
    <input type="hidden" name="user" value={{user.id}}>
    <button type="submit" id= "bt_submit">SUBMIT</button>
</form>
 
<script type="text/javascript">
    let amount = document.querySelector('#amount')
    let bt_submit = document.querySelector('#bt_submit')
    bt_submit.onclick = function(){
        if (amount.value <= 0){  
            return false
        }

    }


</script>