 

<head>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'bets/style.css' %}">
</head>
<body>    
    <a id="log_out" href="{% url 'users:logout_user' %}">logout</a>
    <h1 id="header">Welcome to the custom bet creation page</h1>
    <a href="{% url 'bets:openbets_page' %}">Join a bet that's already in progress</a>
    
    <h2>Create a new bet:</h2>
    <div class="main_div">
        <form action="{% url 'bets:create_bet' %}" method="post" class="create_bet">
            {% csrf_token %}
            <input type="text" name="name" required placeholder="name your bet"/>
            <textarea name="description"  required placeholder="Description"></textarea><button type="submit">SUBMIT</button><br>
            <b>give a description for your bet with clear paramiters to determine a winning bet</b>
        </form>
    </div>  
