<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bets/style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
       
        pre {
            padding: 0 !important;
            margin: 0 !important;
            background-color: transparent !important;
            border: none !important;
        }
        button {
            border-radius: 10px;
            outline: none;
            background-color:  darkorange
        }
        .popover{
            color:black
        }
    </style>
</head>
<body class="body">
    <div class="logoutdiv">
        <a href="{% url 'users:logout_user' %}" class="logout">logout</a>
        <h4 class="credits">{{user.userprofile.credits}} credits</h4>
    </div>  
    <h1 class="textcolor">NBA Games</h1>
    
    <div class="columncontainer">
        {% for game in games %}
        
            <form class="gameform" action="{% url 'bets:create_usersportbet' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="sportbet_id" value={{game.id}}>
                <button class="sport_bt" type="submit">
                    <div class="gameholder"> 
                        <div>{{game.date}}</div>        
                        <div>{{game.awaycity}} {{game.awayteam}}</div>   
                        <div>at</div>
                        <div>{{game.homecity}} {{game.hometeam}}</div> 
                    </div>
                </button>
            </form>
        
        {% endfor %}
    </div>
    <div class="textheader">
        <a href="{% url 'bets:index' %}">Create New Bet</a>
        <h3 style="text-align:center;" class="textcolor">Text Bets</h3>
    </div>
    <div class="columncontainer"> 
        {% for row in rows%}
        <form action="{% url 'bets:create_userbet' %}" method="post">
            {% csrf_token %}
            <button type="submit" name="bet_id" type="hidden" value="{{row.id}}">
            <a id="popover" href="#" title="{{row.name}}" data-toggle="popover" data-trigger="hover" data-content="{{row.description}}">
            <b type="submit">{{row.name}}</b></a>
            </button>
           

        </form>  
        {% endfor %}       
    </div>
  
    <div class="center">
        <img class="img-responsive" src="{% static "bets/footer.png" %}" alt="footer" />
    </div>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
    })
    .on("hover", function(){
        $('.popover').addClass($(this).data("popover"));
    });
</script>
</body>
</html>