<head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'users/index.css' %}">
</head>



<img src="{% static "bets/IFWT-Sports-Betting.jpg" %}" alt="My image" width="100"/>
<div class="container">
<h1> Welcome to skin Onit </h1>
<h3>A free betting app to let you wager sports bets and get paid with our complementry credit system</h3>
<h3>Sign up now to recive 500 free credits</h3>
</div>

<form action="{% url 'users:register_user' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{next}}"/>
    <input type="text" name="username" required placeholder="username"/><br>
    <input type="text" name="email" required placeholder="email address"/><br>
    <input type="password" id="input_password" name="password" required placeholder="password"/>
    <input type="password" id="input_password_confirm" name="confirm_password" required placeholder="confirm password"/><br>
    <button id="bt_submit" type="submit">register</button>
</form>

<div>
    already a member <a href="{% url 'users:login_page' %}">login</a>
</div>



<script type="text/javascript">
    let input_password = document.querySelector('#input_password')
    let input_password_confirm = document.querySelector('#input_password_confirm')
    let bt_submit = document.querySelector('#bt_submit')
    bt_submit.onclick = function() {
        if (input_password.value !== input_password_confirm.value)
            return false
    }

</script>


