<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bets/style.css' %}">
</head>
<body class="body">
<h2>Login</h2>
<form action="{% url 'users:login_user' %}" method="post">
    {% csrf_token %}
    
    <input style="color:black" type="text" name="username" required placeholder="username"/>
    <input style="color:black" type="password" name="password" required placeholder="password"/>
    <button id="bt_submit" type="submit">login</button>
</form>

<div>
    not a member yet? <a href="{% url 'users:index' %}">sign up</a>
</div>
</body>
</html>